# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#################### User-specific
.vs
packages
Release/
ReleaseIntermediate/
Release-Linux/
Debug/
DebugIntermediate/
Analysis
AnalysisIntermediate
testResults
*testResults*
*.opensdf
*.opendb
*.sdf
*.VC.db
*.cppcheck
MapDegrader/build
MapDegrader/cmake_install.cmake
MapDegrader/CMakeFiles/
MapDegraderTests/MapDegraderTests.vcxproj.user
.gitmodules
tests.xml
*bz2
MapDegrader/build/
